body{
    color: rgb(6, 150, 247);
    background: rgb(163, 209, 240);
    margin: 0px;
    font-family: "Metamorphous", sans-serif;
}

header{
    border-bottom: solid 2px rgb(6, 150, 247);
    padding: 20px;
    font-size: 32px;
    color: rgb(17, 110, 163)
}

.chamada{
    background: rgb(32, 63, 99);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.chamada-texto{ 
    margin-right: 5%;
}
   h1{
    font-size: 40px;
   } 
   p{
    font size: 40px;
   }
   img{
    height: 200px;
   }
   .categoria-videos{
    display:flex;
    overflow-x: auto;
    gap: 10px;
   }
   .categoria{
    padding-left: 20px;
    padding-right: 20px;
   }